@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos gerais (você pode reaproveitar do seu style.css) */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #181818;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

}

main {
    padding: 20px;
    background-color: #302d2c34;

}


.anime-details {
    display: flex; /* Organiza a imagem e as informações lado a lado */
    align-items: flex-start; /* Alinha os itens no topo */
    gap: 20px; /* Espaçamento entre a imagem e as informações */
    border-bottom: 2.5px solid #df5505d0;  /* Borda inferior */
    color: #afaaaaa6;
}
a{
    text-decoration: none;
}
a:vise{
    text-decoration: none;
}
.anime-image img {
    max-width: 230px; /* Ajusta a largura máxima da imagem */
    padding-bottom: 30px;
}
.ep-img{
    max-width: 180px;
    border-radius: 6px;
}
.anime-info h2 {
    margin-bottom: 1px;
    color: #e9e4e4a6;
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;

}
.episode-info{
    
    h2{
        color: #afacac;
        padding-top: 10px;
        max-width: fit-content;
        border-bottom: 3.5px solid #504945d0;  /* Borda inferior */
        
    }
    h3{
        max-width: fit-content;
        font-size: 13px;
        padding-bottom: 10px;
        padding-left: 3px;
        color: #e74b1b;
        font-weight: bold;
    }
}
.episode-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #555555;
    margin-top: 4px;
    overflow: hidden;          
    text-overflow: ellipsis;   
    white-space: nowrap;
    max-width: 90%;      
}
.seasons-episodes {
    margin-top: 20px;
    color: #ffffffa6;

}
.seasons-episodes > h4{
    font-size: 23px;
}

.seasons-episodes > h3{
    font-size: 27px;
}
.season {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.episodes {
    padding-bottom: 7px; 
    max-width: 190px;
    margin: 7px;
}

.episode {
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 7px;
    background-color: rgba(5, 5, 5, 0.795);
    border-radius: 6px;
}
.episode:hover{
    background-color: rgba(19, 19, 19, 0.61);
    scale: 1.1 ;
    transition: ease-in-out 0.5s;
}

.line{
    height: 5px;
    background-color: #424242a6; /* Ajuste a cor conforme necessário */
    margin: 10px 0; /* Ajuste os valores conforme necessário */
    width: 95%; /* Ajuste a largura conforme necessário */
    border-radius: 2px;
}
.episode-number {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px; /* Ajuste o valor conforme necessário */
    color: #df5505d0;
  margin-left: 10px; /* Ajuste o valor conforme necessário */
}

iframe{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 25px;

}
.video-container {
    position: relative;
    width:90%;
    height: 600px;
}
.poster-episode{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: #e74b1b solid 2.5px;
}
picture.poster > img{
    border-radius: 25px;
}
.controls{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}
@media (max-width: 768px){

    .seasons-episodes{
        text-align: center;
    }

    .season {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .ep-img{
        max-width: 140px;
        border-radius: 6px;
    }
    .anime-info h2{
        font-size: 18px;
    }

    .episode-info{
        h2{
            font-family: Arial, Helvetica, sans-serif;
            color: #afacac;
            padding-top: 10px;
            font-size: 15px;
        }
        h3{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            padding-bottom: 10px;
            padding-left: 3px;
        }
    }
    main{
        h2{
            font-size: 17px;
        }
    }
    button{
        max-width: fit-content;
        max-height: 50px;
        font-size: 10.6px;
    }
    .controls{
        padding: 0px;
        padding-left: 10px;
        padding-top: 5px;
        gap: 2px;
    }
    .description{
        font-size: 13px;
        max-height: 130px;
        overflow-y: scroll;
    }

    .video-container{
        width: 95%;
        height: 310px;
    }
    iframe{
        width: 360px;
        height: 215px;
    }
}