::-webkit-scrollbar {
    width: 4px;               /* Largura da barra de rolagem */
    height: 12px;              /* Altura da barra de rolagem (para rolagem horizontal) */
}

::-webkit-scrollbar-track {
    background: #313131;       /* Cor do fundo da barra de rolagem */
    border-radius: 3px;       /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
    background-color: #888;    /* Cor da "pegada" (parte que se move) */
    border-radius: 10px;       /* Bordas arredondadas */
    border: 1px solid #cacaca; /* Cria espaço ao redor da pegada */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;    /* Cor ao passar o mouse */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #181818; /* Dark background */
    color: #f0f0f0; /* Light text */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #282828; /* Darker header */
    padding: 10px;
    text-align: center;
    
}
a:visited{
    text-decoration: none;
}
a{
    text-decoration: none;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-container {
    width: 80%; /* Adjust as needed */
    max-width: 800px;
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
}

.controls {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 400px;
}

button {
    background-color: #383838; /* Darker button */
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #484848; /* Even darker on hover */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.2em;
}

.anime-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr)); /* Até 5 por linha */
    gap: 25px;
}
.anime-title{
    font-size: 16px;
    max-width: 150px;
    max-height: 35px;
    overflow-y: scroll;
}
#all-animes-button, #all-animes-button-bottom {
    /* ... estilos do botão ... */
    margin-top: 20px; /* Espaçamento na parte inferior */
}

a, 
button:hover,
.logo {
    color: #f59e0b; /* Laranja suave */
}

/* Borda sutil nos botões */
button {
    border: 1px solid #f59e0b; /* Borda laranja suave */
}

/* Hover mais suave */
button:hover {
    background-color: #3d3d3d; /* Um pouco mais claro que o fundo */
    border-color: #f97316; /* Laranja um pouco mais forte no hover */
}