*{
    margin: 0;
    background-image: url(../background-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height: 98vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 800px;
    height: 500px;
    background: rgb(13, 75, 133);
    border-radius: 20px;
    
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
    position: absolute;
}